.container {
    padding: 300px;
}
body {
    background-color: rgba(153, 94, 5, 0.49);
    font-size: 16px;
    line-height: 1;
    font-family: "Times New Roman";
  }
textarea{
      color: #000000;
    background: transparent;
    resize: none;
    padding: 10px;
    border-left: 1px solid black;
    border: 12px;
  }

.description{
    white-space: pre-wrap;
}

.row {
    white-space: pre-wrap;
    height: 100px;
    border-top: 1px solid white;;
}

.saveBtn {
    background-color: #030404;
    border-top-right-radius: 15px;
    color: white;
    border-left: 1px solid black;
    border-bottom-right-radius: 15px;
}

.hour {
    color: #000000;
    background-color: #ffffff;
    border-right: 3px solid #ff6961;
    border-top: 5px solid #000000;
}
.saveBtn i:hover {
    transition: all .3s ease-in-out;
    font-size: 20px;
}
.jumbotron {
    border-bottom: 8px double #ff6961;
  text-align: center;
  background-color: transparent;
  border-radius: 1;
  color: rgb(9, 186, 205);
}